
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block {
	margin-bottom: $spacer * 4.25;
	position: relative;

	.title {
		display: block;
		font-family: $heading-font;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 0;
	}
}